<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="CartContext" connectionString="metadata=res://*/CartDb.csdl|res://*/CartDb.ssdl|res://*/CartDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUALMINDS0015\SQLEXPRESS;initial catalog=NORTHWND;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sampleEntities" connectionString="metadata=res://*/CartDatabase.csdl|res://*/CartDatabase.ssdl|res://*/CartDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=QUALMINDS0015\SQLEXPRESS;initial catalog=sample;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SalesCrmDb" connectionString="metadata=res://*/SalesCRMDb.csdl|res://*/SalesCRMDb.ssdl|res://*/SalesCRMDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.24.138;initial catalog=TV_SalesCRM;user id=TV_ALL;password=TV_ALL;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>